<!DOCTYPE html>
<html>
    <body>
        <h1>Pastebin</h1>

        <h2>You can view your pastes</h2>
        {% block content %}
            <ul>
                {% for p in pastes%}
                    <p><a href="/{{ p }}">{{ p }}</a></p>
                {% endfor %}
            </ul>


        <h2>Or create a new one</h2>

        <form action="" target="_self" method="POST">
            <label for="content">Input your paste:</label>
            <input type="text" id="content" name="content"/>
            <input type="submit" value="Create"/>
        </form>

        <h2>Or delete a paste</h2>

        <form action="/delete" method="POST">
            <label for="pastes">Select a paste</label>
            <Select name="pastes" id="pastes">
                    {% for p in pastes%}
                        <option value="{{ p }}">{{ p }}</option>
                    {% endfor %}
                {% endblock content %}
            </Select>
            <input type="submit" value="Delete">
        </form>

    </body>
</html>